[Unit]
Description=My Binary File

[Service]
ExecStart=/etc/systemd/system/vmac
Restart=always
User=root

[Install]
WantedBy=multi-user.target
